<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/header.ejs') %>

    <main>
        <form action="/register" method="POST">
            <% errors.forEach(error => { %>
                <p class="notice"><%= error %></p>
            
            <%})  %>


        <fieldset>
            <legend>Create an account</legend>
            <label for ="username"><small>Username</small></label>
            <input type="text" id="username" name="username" autocomplete="off">

            <label for ="password"><small>passsword</small></label>
            <input type="password" id="password" name="password" autocomplete="off">

            <br />
            <button>Sign Up</button>

        </fieldset>
        </form>
    </main>

   <%- include('includes/footer.ejs') %>
      
</body>
</html>