<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>

    <main>
        <h3>login page </h3>
        <p>manoj as created some thing new . </p>
    </main>

    <%- include('includes/footer.ejs') %>
</body>
</html>